<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>MovieFlix</title>
</head>

<body ng-app="mainapp">

  <% if(!user){ %>

    <!-- -->
    <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">MovieFlix</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/login">Sign in</a>
      <a class="nav-item nav-link" href="/signup">Sign up</a>

    </div>
  </div>
</nav>
<!-- -->

    <h1>This is Home page</h1>
    <!-- from here -->
    <div class="pimg1">
        <div class="ptext">
          <span class="border">
            MovieFlix
          </span>
        </div>
      </div>

      <section class="section section-light">
        <h2>Section One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>

      <div class="pimg2">
        <div class="ptext">
          <span class="border trans">
            Image two text
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>

      <div class="pimg3">
        <div class="ptext">
          <span class="border trans">
            Image three text
          </span>
        </div>
      </div>

      <section class="section section-dark">
        <h2>Section Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>


      <div class="pimg1">
        <div class="ptext">
          <span class="border">
            MovieFlix
          </span>
        </div>
      </div>
    <!-- till here -->




    <% } else { %>
      <div ng-controller="mainCTRL">

        <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">MovieFlix</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><%= user.username %></a>
            </li>
            <li class="nav-item pull-xs-right" ng-click="logout()">
                  <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>

        </nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label"><strong>Search:</strong></label>
            <div class="col-10">
              <input class="form-control" ng-model="query" type="text" placeholder="search for titles, genre, people" id="example-text-input">
          </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>


<!--

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MovieFlix</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">
                <%= user.username %>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="" ng-click="logout()"><a href="/">Logout</a></li>
          </ul>

        </div>

      </nav> -->

<!-- <h3> <%=user.username %> is logged in </h3> -->

    <div class="container">
      <div class="row">
<div class="" ng-show="query">

<div  ng-repeat="data in moviedata | filter: query">
  		<div class="col-md-3">
  			<div class="card" style="width: 20rem;">
  			<img class="card-img-top" src={{data.poster}}>
  				<!-- <div class="card-block">
  					<h3 class="card-title">{{data.title}}</h3>
  					<p class="card-text">{{data.plot}}</p>
  				</div> -->
  				<div class="card-footer text-muted">{{data.genre}}</div>
  			</div>
  		</div>
</div>
</div>


      </div>
    </div> <!-- end of container div -->

    </div> <!-- End of Controller -->

      <% } %>




<script>
var app=angular.module("mainapp",[]);
app.controller('mainCTRL', function($scope,$http,$window) {
$scope.name="smaran";
$scope.logout=function(){
  $http.get("/logout").then(function(res){

  },function(res){

  });
}

$http.get('/getmovies').then(function(res) {
  console.log(res);

$scope.moviedata = res.data;

},
function (res) {
console.log('failed');
});


}); // end of controller


</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
