<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

  <title>MovieFlix</title>
</head>

<body ng-app="mainapp">

  <% if(!user){ %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MovieFlix</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/login">Sign In</a></li>
          <li><a href="/signup">Sign Up</a></li>

        </ul>
      </div>
    </nav>
    <h1>This is Home page</h1>


    <% } else { %>
      <div ng-controller="mainCTRL">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MovieFlix</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">
                <%= user.username %>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="" ng-click="logout()"><a href="/">Logout</a></li>
          </ul>

        </div>

      </nav>

      <div  ng-repeat="data in moviedata">
        {{data.title}}
      </div>


    </div> <!-- End of Controller -->

    <h3> <%=user.username %> is logged in </h3>

      <% } %>




<script>
var app=angular.module("mainapp",[]);
app.controller('mainCTRL', function($scope,$http,$window) {
$scope.name="smaran";
$scope.logout=function(){
  $http.get("/logout").then(function(res){

  },function(res){

  });
}

$http.get('/getmovies').then(function(res) {
  console.log(res);

$scope.moviedata = res.data;

},
function (res) {
console.log('failed');
});


}); // end of controller


</script>
</body>

</html>
